.box
{
    width:100px;
    height:100px;
    border:1px solid red;
    transform: translateY(100px);
    transition: all 1s ease-in-out;
}
.box:hover{
    transform: translateY(0px);
}

@keyframes wiggle {
    0% { transform: rotate(0deg); 
    color:red;}
   25% { transform: rotate(10deg); 
    color:blue;}
   50% { transform: rotate(0deg); 
    color:brown;}
   75% { transform: rotate(-10deg); 
    color:orange;}
  100% { transform: rotate(0deg);
    color:green; }
}

h1.wiggle {
  display: inline-block;
  animation: wiggle 1s infinite;
}

h1.wiggle:hover {
    animation: wiggle 0.01s infinite;
}