.container
{
    width:200px;
    height:100px;
    border:1px solid red;
}

p{
   /* margin : 상자 밖 여백 크기 설정 */
    margin-top:20px;
    margin-left:10px;
    margin-right:10px;
    margin-bottom:20px;
     /* padding : 상자 안 여백 크기 설정 */
    padding:10px;
    border:1px solid blue;
    display:inline-block;
}