@font-face {
    font-family: blimk;
    src: url(./BlinkGaston_PERSONAL_USE_ONLY.otf);
}
/* 폰트 꾸며주는 css 속성 */
.font
{
    /* 글꼴 */
    font-style:italic;
    /* 글씨 테두리 */
    font-weight: bold;
    /* 줄간격 */
    line-height: 10px;
    /* 내가 다운받은 글꼴 쓰고싶으면 위에 font-family에서 설정한 이름 */
     /* 만약 사용자가 해당글꼴이 없으면 그 옆에 써놓은 글꼴로 대체됨 */
    font-family:'blimk','Arial Narrow', Arial, sans-serif
   
}