header{
    position:fixed;
    top:0;
    width:100%;
    height:64px;
    background-color: #191D24;
    z-index:100;
    display: flex;  
    justify-content: center; 
    
    nav{
      display:flex;
      width:100%;
      justify-content: space-between;
      align-items: center; 
      ul{
        display:flex;
        list-style: none;
        align-items: center;
        gap: 20px;
        li{
          img{
            fill:white;
            height:35px;
            width:35px;
          }
          input{
            background-color: #4B5563;
            width:225px;
            height:48px;
            border-radius: 5%;
          }
        }
        .searchResultList{
          gap:0px;
          position: fixed;
          right:5px;
          top:60px;
          display:flex;
          flex-direction: column;
          width:225px;
          background-color: white;
          list-style: none;
          align-items:start;
          height:300px;
          overflow-y: scroll;
          .searchResult{
            border:1px solid black;
           
            margin:0px;
          }
        }
      }
    }
  }
  