@charset "UTF-8";
p {
  margin: 0px;
}

.hidden,
[hidden] {
  display: none !important;
}

.header {
  width: 1920px;
  height: 117px;
  border-bottom: 1px solid #F3F3F3;
  position: relative;
}
.header .header__inner {
  position: absolute;
}
.header .header__inner .button--category {
  position: inherit;
  left: 450px;
  background-color: #0074E9;
  width: 110px;
  height: 116px;
  border: 0px;
}
.header .header__inner .button--category .des {
  font-size: 12px;
  color: #ffffff;
}

/* ---------------------------------------------- */
/* ---------------------------------------------- */
.navigation {
  position: relative;
  left: 450px;
  top: 117px;
  width: 1020px;
  height: 520px;
}
.navigation .navigation__inner {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 540px;
  height: 500px;
}
.navigation .navigation__inner ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.navigation .navigation__inner ul ul > li {
  padding-left: 20px;
  padding-top: 10px;
}
.navigation .navigation__inner .navigation__list {
  width: 100%;
  height: 100%;
}
.navigation .navigation__inner .navigation__list .box {
  width: 170px;
  height: 30px;
}
.navigation .navigation__inner .navigation__list .box .box-des {
  font-size: 12px;
  margin-top: 8px;
}
.navigation .navigation__inner .navigation__list .nav1 {
  width: 180px;
  height: 500px;
}
.navigation .navigation__inner .navigation__list .nav1 .trangle {
  position: absolute;
  width: 9px;
  height: 6px;
  margin-left: 30px;
  /* blue/600 */
  color: #0074E9;
}
.navigation .navigation__inner .navigation__list .nav2 {
  margin-top: -451px;
  margin-left: 180px;
  width: 180px;
  height: 500px;
}
.navigation .navigation__inner .navigation__list .nav2 > li {
  margin-left: 20px;
}
.navigation .navigation__inner .navigation__list .nav2 .trangle {
  position: absolute;
  width: 9px;
  height: 6px;
  margin-left: 70px;
  /* blue/600 */
  color: #0074E9;
}
.navigation .navigation__inner .navigation__list .nav3 {
  margin-top: -93px;
  margin-left: 180px;
  width: 180px;
  height: 500px;
}
.navigation .navigation__inner .navigation__list .nav3 > li {
  margin-left: 20px;
}

/* ---------------------------------------------- */
/* ---------------------------------------------- */
/* 메인 콘텐츠                                       */
/* ---------------------------------------------- */
/* 메인 콘텐츠 영역의 최소 높이 설정 */
.main {
  min-height: 52rem;
}

/* ---------------------------------------------- */
.footer {
  position: relative;
  width: 1920px;
  height: 349px;
}
.footer .footer-head {
  position: absolute;
  height: 40px;
  width: 100%;
  background-color: #E7E7E7;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer .footer-head .info {
  margin-left: 4px;
  margin-right: 4px;
  color: #4E4E4E;
  font-size: 12px;
}
.footer .footer-head .divider {
  margin-left: 4px;
  margin-right: 4px;
  color: #4E4E4E;
}
.footer .footer-body {
  position: absolute;
  top: 40px;
  width: 100%;
  height: 207px;
  border: 1px solid gray;
  flex-direction: row;
}
.footer .footer-body .footer-body-main {
  position: inherit;
  left: 360px;
  top: 32px;
  width: 1200px;
  height: 143px;
  display: flex;
}
.footer .footer-body .footer-body-main .main-logo {
  position: relative;
  width: 176px;
  height: 40px;
  background-image: url(../../assets/logo/logo-mono.svg);
  background-size: cover;
  background-repeat: none;
}
.footer .footer-body .footer-body-main .main-logo .cou {
  font-size: 0px;
}
.footer .footer-body .footer-body-main .company-info {
  position: absolute;
  left: 239px;
  width: 260px;
  height: 143px;
}
.footer .footer-body .footer-body-main .company-info .company-info-text {
  margin-top: 12px;
  font-size: 16px;
  color: #4E4E4E;
}
.footer .footer-body .footer-body-main .company-info .company-info-text:nth-of-type(1) {
  width: 280px;
  margin-top: 0px;
}
.footer .footer-body .footer-body-main .company-num {
  position: absolute;
  left: 561px;
  width: 293px;
  height: 143px;
}
.footer .footer-body .footer-body-main .company-num .company-num-first {
  width: 293px;
  height: 19px;
}
.footer .footer-body .footer-body-main .company-num .company-num-first .fir {
  font-size: 16px;
  color: #4E4E4E;
}
.footer .footer-body .footer-body-main .company-num .company-num-first .fir:nth-of-type(1) {
  font-weight: bold;
}
.footer .footer-body .footer-body-main .company-num .company-num-first .company-num-divider {
  display: inline-block;
  height: 12px;
  color: #4E4E4E;
}
.footer .footer-body .footer-body-main .company-num .company-num-second {
  margin-top: 8px;
  width: 260px;
  height: 58px;
}
.footer .footer-body .footer-body-main .company-num .company-num-second .num {
  font-weight: bold;
  font-size: 48px;
  color: #4E4E4E;
}
.footer .footer-body .footer-body-main .company-num .company-num-second .call {
  z-index: 300;
  width: 500px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer .footer-body .footer-body-main .company-num .company-num-second .call .go-call {
  width: 100%;
  height: 30px;
  background-color: gray;
  text-align: center;
  border: 1px solid black;
  border-radius: 5%;
}
.footer .footer-body .footer-body-main .company-num .company-num-second .call .go-call .option {
  text-align: center;
  font-size: 20px;
  color: bLUE;
}
.footer .footer-body .footer-body-main .company-num .company-num-second .call .cancel {
  width: 100%;
  height: 30px;
  background-color: gray;
  text-align: center;
  border: 1px solid black;
  border-radius: 5%;
  margin-top: 10px;
}
.footer .footer-body .footer-body-main .company-num .company-num-second .call .cancel .option {
  font-size: 20px;
  color: rgb(12, 135, 222);
}
.footer .footer-body .footer-body-main .company-num .company-num-third {
  margin-top: 8px;
}
.footer .footer-body .footer-body-main .company-num .company-num-third .address {
  font-size: 16px;
  color: #4E4E4E;
}
.footer .footer-body .footer-body-main .company-num .company-num-forth {
  margin-top: 8px;
}
.footer .footer-body .footer-body-main .company-num .company-num-forth .email {
  font-size: 16px;
  color: #4E4E4E;
}
.footer .footer-body .footer-body-main .warning {
  position: absolute;
  left: 916px;
  width: 282px;
  height: 84px;
}
.footer .footer-body .footer-body-main .warning .first {
  width: 195px;
  height: 19px;
}
.footer .footer-body .footer-body-main .warning .first .info {
  font-size: 16px;
  color: #4E4E4E;
  font-weight: bold;
}
.footer .footer-body .footer-body-main .warning .second {
  margin-top: 8px;
  width: 282px;
  height: 57px;
}
.footer .footer-body .footer-body-main .warning .second .info-second {
  font-size: 16px;
  color: #4E4E4E;
}
.footer .footer-footer {
  position: absolute;
  top: 247px;
  width: 100%;
  height: 102px;
  background-color: #272727;
}
.footer .footer-footer-main {
  position: absolute;
  top: 16px;
  left: 450px;
  width: 1020px;
  height: 70px;
  display: flex;
}
.footer .footer-footer-main .main {
  color: #E7E7E7;
  font-size: 12px;
  font-weight: lighter;
  display: inline-flex;
}
.footer .footer-footer-main .logos {
  position: inherit;
  left: 898px;
  top: 36px;
  width: 122px;
  height: 34px;
  display: flex;
  justify-content: space-around;
}
.footer .footer-footer-main .logos .logo-foot .insta {
  border-radius: 100%;
  background: linear-gradient(174.12deg, #285AEB 5.61%, #BC1888 22.32%, #CC2366 36.16%, #DC2743 51.91%, #E6683C 73.38%, #F09433 91.99%);
}

/* ---------------------------------------------- *//*# sourceMappingURL=template.css.map */