.bodys{
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
    &.darkHeader {
        background-color: #30343c;
      }
    &.lightHeader  {
    background-color: white;
    }
    .sumResult{
        position: absolute;
        z-index:100;
        top:50px;
        right:270px;
        color: #A6ADBA;
        font-weight:bold;
    }
    .purchase{
        position: absolute;
        width:130px;
        height:40px;
        background-color: #641ae6;
        top:40px;
        right:100px;
        color: #A6ADBA;
        font-weight:bold;
    }
    
    .cartContainer{
        position: absolute;
        display: flex;
        flex-direction: column;
        padding-bottom:200px;
        left: 30px;
        top: 100px;
        width: 100%;
        height: 100%;

        
        .container{
            width: 90%;
            height: 200px;
     
            padding-bottom: 10px;
            position: relative;
            
            .imgContainer{
                position: absolute;
                border-radius: 5%;
                left: 50px;
                top: 50%;
                transform: translateY(-50%);
                display: flex;
                justify-content: center;
                align-items: center;
                width: 200px; 
                height: 200px; 
                background-color: white;
                
                img{
                    max-width: 70%;
                    max-height: 70%;
                }
            }
            
            .title{
                position: absolute;
                left: 300px;
                top: 10px;
                span{
                    font-size: 18px;
                    font-weight: bold;
                    color: #A6ADBA;
                }        
            }
            
            .price{
                position: absolute;
                left: 300px;
                bottom: 10px;
                z-index: 10;
                span{
                    font-size: 20px;
                    font-weight: bold;  
                    color: #A6ADBA;
                }
            }
            
            .minus{
                position: absolute;
                bottom: 10px;
                width:100px;
                left:400px;
                background-color: #641ae6;
            }
                
            .plus{
                position: absolute;
                bottom: 10px;
                width:100px;
                left:550px;
                background-color: #641ae6;
                
                
            }
            
            
            .count{
                position: absolute;
                z-index:100;
                bottom: 20px;
                left:520px;
                color: #A6ADBA;
                font-weight:bold;
            }
            
        }
    } 
}
