.bodys{
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
    background-color: #30343c;
    
    .cartContainer{
        position: absolute;
        display: flex;
        flex-direction: column;
        padding-bottom:200px;
        left: 30px;
        top: 100px;
        width: 100%;
        height: 100%;

        
        .container{
            width: 90%;
            height: 200px;
     
            padding-bottom: 10px;
            position: relative;
            
            .imgContainer{
                position: absolute;
                border-radius: 5%;
                left: 50px;
                top: 50%;
                transform: translateY(-50%);
                display: flex;
                justify-content: center;
                align-items: center;
                width: 200px; 
                height: 200px; 
                background-color: white;
                
                img{
                    max-width: 70%;
                    max-height: 70%;
                }
            }
            
            .title{
                position: absolute;
                left: 300px;
                top: 10px;
                span{
                    font-size: 18px;
                    font-weight: bold;
                    color: #A6ADBA;
                }        
            }
            
            .price{
                position: absolute;
                left: 300px;
                bottom: 10px;
                z-index: 10;
                span{
                    font-size: 20px;
                    font-weight: bold;  
                    color: #A6ADBA;
                }
            }
            
            button{
                position: absolute;
                bottom: 10px;
                width:100px;
                left:400px;
                background-color: #641ae6;
                
                &.asd{
                   left:550px;
                    
                }
            }
            
            .count{
                position: absolute;
                bottom: 20px;
                left:520px;
            }
        }
    } 
}
