.head {
  position: relative;
  left: 139px;
  top: 100px;
}
.head .logo {
  align-content: center;
  width: 246px;
  height: 56px;
}

.main-body {
  position: relative;
  left: 130px;
  top: 204px;
  width: 1020px;
  height: 1376px;
}
.main-body .bodyHead {
  position: absolute;
  width: 260px;
  height: 46px;
}
.main-body .bodyHead .hot {
  margin: 0px;
  font-weight: normal;
  font-size: 16px;
}
.main-body .bodyHead .descript {
  margin: 0px;
  font-size: 24px;
}
.main-body .livingProduct {
  position: absolute;
  left: -2px;
  top: 70px;
  width: 1022px;
  height: 634px;
  border-top: 1.17px solid #9D7A6D;
  border-bottom: 1.17px solid #9D7A6D;
  display: flex;
}
.main-body .livingProduct .body1 {
  flex-grow: 1;
}
.main-body .livingProduct .body1 .title {
  position: absolute;
  top: 48px;
  left: 24px;
  width: 89px;
  height: 28px;
}
.main-body .livingProduct .body1 .title .name {
  margin: 0px;
  font-weight: normal;
  font-size: 24px;
  color: #9D7A6D;
}
.main-body .livingProduct .body1 .title .name-link {
  position: absolute;
  margin-top: 8px;
  font-size: 14px;
  font-weight: bold;
  color: #767676;
}
.main-body .livingProduct .body1 .title .name-link:after {
  content: ">";
  color: #929292;
  margin-left: 4px;
  width: 6px;
  height: 10px;
}
.main-body .livingProduct .body1 .title2 {
  position: absolute;
  width: 87px;
  height: 21px;
  top: 349px;
  left: 24px;
}
.main-body .livingProduct .body1 .title2 .hot-keyword {
  margin: 0px;
  color: black;
  font-size: 18px;
  font-weight: normal;
}
.main-body .livingProduct .body1 .buttons {
  position: absolute;
  left: 24px;
  top: 382px;
  width: 124px;
  height: 220px;
}
.main-body .livingProduct .body1 .buttons .hash {
  height: 26px;
  display: inline-block;
  margin-top: 0px;
  padding: 6px 3px;
  font-size: 12px;
  font-weight: normal;
  color: #9D7A6D;
  border: 1px solid #C4C4C4;
}
.main-body .livingProduct .body2 {
  width: 320px;
  position: relative;
}
.main-body .livingProduct .body2 .downy {
  height: 100%;
}
.main-body .livingProduct .body2 .product-des {
  position: absolute;
  top: 483px;
  left: 30px;
  width: 260px;
  height: 90px;
  background-color: #9D7A6D;
  z-index: 100;
}
.main-body .livingProduct .body2 .product-des .des1 {
  position: inherit;
  top: 19px;
  left: 28px;
  width: 205px;
  height: 24px;
  text-align: center;
}
.main-body .livingProduct .body2 .product-des .des1 .a {
  margin: 0;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: bold;
}
.main-body .livingProduct .body2 .product-des .des2 {
  position: inherit;
  top: 51px;
  left: 23px;
  width: 215px;
  height: 19px;
  text-align: center;
}
.main-body .livingProduct .body2 .product-des .des2 .b {
  margin: 0;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: normal;
}
.main-body .livingProduct .body2 .circle {
  position: absolute;
  left: 144px;
  top: 597px;
  width: 32px;
  height: 12px;
  display: flex;
  justify-content: space-between;
}
.main-body .livingProduct .body2 .circle .first {
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background-color: #767676;
  display: inline-block;
}
.main-body .livingProduct .body2 .circle .second {
  left: 20px;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background-color: #AAA9A9;
}
.main-body .livingProduct .body3 {
  width: 528px;
  position: relative;
}
.main-body .livingProduct .body3 .body3-top1 {
  position: absolute;
  top: 9px;
  left: 13px;
  width: 160px;
  height: 300px;
}
.main-body .livingProduct .body3 .body3-top1 .img-div {
  width: 160px;
  height: 160px;
}
.main-body .livingProduct .body3 .body3-top1 .img-des {
  position: inherit;
  left: 4px;
  top: 172px;
  width: 152px;
  height: 73px;
}
.main-body .livingProduct .body3 .body3-top1 .img-des .des {
  margin: 0px;
  font-size: 14px;
  font-weight: normal;
}
.main-body .livingProduct .body3 .body3-top1 .img-des .price {
  position: absolute;
  top: 46px;
}
.main-body .livingProduct .body3 .body3-top1 .img-des .price .pr {
  margin: 0px;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
}
.main-body .livingProduct .body3 .body3-top1 .img-des .price .pr2 {
  margin: 0px;
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
}
.main-body .livingProduct .body3-top2 {
  position: absolute;
  top: 9px;
  left: 189px;
  width: 160px;
  height: 300px;
}
.main-body .livingProduct .body3-top2 .img-div {
  width: 160px;
  height: 160px;
}
.main-body .livingProduct .body3-top2 .img-des {
  position: inherit;
  left: 4px;
  top: 172px;
  width: 152px;
  height: 73px;
}
.main-body .livingProduct .body3-top2 .img-des .des {
  margin: 0px;
  font-size: 14px;
  font-weight: normal;
}
.main-body .livingProduct .body3-top2 .img-des .price {
  position: absolute;
  top: 63px;
}
.main-body .livingProduct .body3-top2 .img-des .price .pr {
  margin: 0px;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
}
.main-body .livingProduct .body3-top2 .img-des .price .pr2 {
  margin: 0px;
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
}
.main-body .livingProduct .body3-top3 {
  position: absolute;
  top: 9px;
  left: 365px;
  width: 160px;
  height: 300px;
}
.main-body .livingProduct .body3-top3 .img-div {
  width: 160px;
  height: 160px;
}
.main-body .livingProduct .body3-top3 .img-des {
  position: inherit;
  left: 4px;
  top: 172px;
  width: 152px;
  height: 73px;
}
.main-body .livingProduct .body3-top3 .img-des .des {
  margin: 0px;
  font-size: 14px;
  font-weight: normal;
}
.main-body .livingProduct .body3-top3 .img-des .price {
  position: absolute;
  top: 48px;
}
.main-body .livingProduct .body3-top3 .img-des .price .discount {
  margin: 0px;
  margin-bottom: 4px;
  font-size: 14px;
  font-weight: normal;
  color: #E52330;
}
.main-body .livingProduct .body3-top3 .img-des .price .pr {
  margin: 0px;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
}
.main-body .livingProduct .body3-top3 .img-des .price .pr2 {
  margin: 0px;
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
}
.main-body .livingProduct .body3-top3:after {
  position: inherit;
  content: "";
  top: 307.53px;
  left: -365px;
  width: 528px;
  height: 0.5px;
  background-color: #AAA9A9;
  z-index: 33;
}
.main-body .livingProduct .body3-bottom1 {
  position: absolute;
  top: 320px;
  left: 13px;
  width: 160px;
  height: 300px;
}
.main-body .livingProduct .body3-bottom1 .img-div {
  width: 160px;
  height: 160px;
}
.main-body .livingProduct .body3-bottom1 .img-des {
  position: inherit;
  left: 4px;
  top: 172px;
  width: 152px;
  height: 73px;
}
.main-body .livingProduct .body3-bottom1 .img-des .des {
  margin: 0px;
  font-size: 14px;
  font-weight: normal;
}
.main-body .livingProduct .body3-bottom1 .img-des .price {
  position: absolute;
  top: 48px;
}
.main-body .livingProduct .body3-bottom1 .img-des .price .discount {
  margin: 0px;
  margin-bottom: 4px;
  font-size: 14px;
  font-weight: normal;
  color: #E52330;
}
.main-body .livingProduct .body3-bottom1 .img-des .price .pr {
  margin: 0px;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
}
.main-body .livingProduct .body3-bottom1 .img-des .price .pr2 {
  margin: 0px;
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
}
.main-body .livingProduct .body3-bottom2 {
  position: absolute;
  top: 320px;
  left: 189px;
  width: 160px;
  height: 300px;
}
.main-body .livingProduct .body3-bottom2 .img-div {
  width: 160px;
  height: 160px;
}
.main-body .livingProduct .body3-bottom2 .img-des {
  position: inherit;
  left: 4px;
  top: 172px;
  width: 152px;
  height: 73px;
}
.main-body .livingProduct .body3-bottom2 .img-des .des {
  margin: 0px;
  font-size: 14px;
  font-weight: normal;
}
.main-body .livingProduct .body3-bottom2 .img-des .price {
  position: absolute;
  top: 46px;
}
.main-body .livingProduct .body3-bottom2 .img-des .price .pr {
  margin: 0px;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
}
.main-body .livingProduct .body3-bottom2 .img-des .price .pr2 {
  margin: 0px;
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
}
.main-body .livingProduct .body3-bottom3 {
  position: absolute;
  top: 320px;
  left: 365px;
  width: 160px;
  height: 300px;
}
.main-body .livingProduct .body3-bottom3 .img-div {
  width: 160px;
  height: 160px;
}
.main-body .livingProduct .body3-bottom3 .img-des {
  position: inherit;
  left: 4px;
  top: 172px;
  width: 152px;
  height: 73px;
}
.main-body .livingProduct .body3-bottom3 .img-des .des {
  margin: 0px;
  font-size: 14px;
  font-weight: normal;
}
.main-body .livingProduct .body3-bottom3 .img-des .price {
  position: absolute;
  top: 63px;
}
.main-body .livingProduct .body3-bottom3 .img-des .price .pr {
  margin: 0px;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
}
.main-body .livingProduct .body3-bottom3 .img-des .price .pr2 {
  margin: 0px;
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
}
.main-body .kitchen-product {
  position: absolute;
  left: -2px;
  top: 728px;
  width: 1022px;
  height: 634px;
  border-top: 1.17px solid #00B599;
  border-bottom: 1.17px solid #00B599;
  display: flex;
}
.main-body .kitchen-product .body1 {
  flex-grow: 1;
}
.main-body .kitchen-product .body1 .title {
  position: absolute;
  top: 48px;
  left: 24px;
  width: 89px;
  height: 28px;
}
.main-body .kitchen-product .body1 .title .name {
  margin: 0px;
  font-weight: normal;
  font-size: 24px;
  color: #00B599;
}
.main-body .kitchen-product .body1 .title .name-link {
  position: absolute;
  margin-top: 8px;
  font-size: 14px;
  font-weight: bold;
  color: #767676;
}
.main-body .kitchen-product .body1 .title .name-link:after {
  content: ">";
  color: #929292;
  margin-left: 4px;
  width: 6px;
  height: 10px;
}
.main-body .kitchen-product .body1 .title2 {
  position: absolute;
  width: 87px;
  height: 21px;
  top: 349px;
  left: 24px;
}
.main-body .kitchen-product .body1 .title2 .hot-keyword {
  margin: 0px;
  color: black;
  font-size: 18px;
  font-weight: normal;
}
.main-body .kitchen-product .body1 .buttons {
  position: absolute;
  left: 24px;
  top: 382px;
  width: 124px;
  height: 220px;
}
.main-body .kitchen-product .body1 .buttons .hash {
  height: 26px;
  display: inline-block;
  margin-top: 0px;
  padding: 6px 3px;
  font-size: 12px;
  font-weight: normal;
  color: #00B599;
  border: 1px solid #C4C4C4;
}
.main-body .kitchen-product .body2 {
  width: 320px;
  position: relative;
}
.main-body .kitchen-product .body2 .downy {
  height: 100%;
}
.main-body .kitchen-product .body2 .product-des {
  position: absolute;
  top: 483px;
  left: 30px;
  width: 260px;
  height: 90px;
  background-color: #00B599;
  z-index: 100;
}
.main-body .kitchen-product .body2 .product-des .des1 {
  position: inherit;
  top: 19px;
  left: 28px;
  width: 205px;
  height: 24px;
  text-align: center;
}
.main-body .kitchen-product .body2 .product-des .des1 .a {
  margin: 0;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: bold;
}
.main-body .kitchen-product .body2 .product-des .des2 {
  position: inherit;
  top: 51px;
  left: 23px;
  width: 215px;
  height: 19px;
  text-align: center;
}
.main-body .kitchen-product .body2 .product-des .des2 .b {
  margin: 0;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: normal;
}
.main-body .kitchen-product .body2 .circle {
  position: absolute;
  left: 144px;
  top: 597px;
  width: 32px;
  height: 12px;
  display: flex;
  justify-content: space-between;
}
.main-body .kitchen-product .body2 .circle .first {
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background-color: #767676;
  display: inline-block;
}
.main-body .kitchen-product .body2 .circle .second {
  left: 20px;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background-color: #AAA9A9;
}
.main-body .kitchen-product .body3 {
  width: 528px;
  position: relative;
}
.main-body .kitchen-product .body3 .body3-top1 {
  position: absolute;
  top: 9px;
  left: 13px;
  width: 160px;
  height: 300px;
}
.main-body .kitchen-product .body3 .body3-top1 .img-div {
  width: 160px;
  height: 160px;
}
.main-body .kitchen-product .body3 .body3-top1 .img-des {
  position: inherit;
  left: 4px;
  top: 172px;
  width: 152px;
  height: 73px;
}
.main-body .kitchen-product .body3 .body3-top1 .img-des .des {
  margin: 0px;
  font-size: 14px;
  font-weight: normal;
}
.main-body .kitchen-product .body3 .body3-top1 .img-des .price {
  position: absolute;
  top: 48px;
}
.main-body .kitchen-product .body3 .body3-top1 .img-des .price .discount {
  margin: 0px;
  margin-bottom: 4px;
  font-size: 14px;
  font-weight: normal;
  color: #E52330;
}
.main-body .kitchen-product .body3 .body3-top1 .img-des .price .pr {
  margin: 0px;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
}
.main-body .kitchen-product .body3 .body3-top1 .img-des .price .pr2 {
  margin: 0px;
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
}
.main-body .kitchen-product .body3-top2 {
  position: absolute;
  top: 9px;
  left: 189px;
  width: 160px;
  height: 300px;
}
.main-body .kitchen-product .body3-top2 .img-div {
  width: 160px;
  height: 160px;
}
.main-body .kitchen-product .body3-top2 .img-des {
  position: inherit;
  left: 4px;
  top: 172px;
  width: 152px;
  height: 73px;
}
.main-body .kitchen-product .body3-top2 .img-des .des {
  margin: 0px;
  font-size: 14px;
  font-weight: normal;
}
.main-body .kitchen-product .body3-top2 .img-des .price {
  position: absolute;
  top: 63px;
}
.main-body .kitchen-product .body3-top2 .img-des .price .pr {
  margin: 0px;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
}
.main-body .kitchen-product .body3-top2 .img-des .price .pr2 {
  margin: 0px;
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
}
.main-body .kitchen-product .body3-top3 {
  position: absolute;
  top: 9px;
  left: 365px;
  width: 160px;
  height: 300px;
}
.main-body .kitchen-product .body3-top3 .img-div {
  width: 160px;
  height: 160px;
}
.main-body .kitchen-product .body3-top3 .img-des {
  position: inherit;
  left: 4px;
  top: 172px;
  width: 152px;
  height: 73px;
}
.main-body .kitchen-product .body3-top3 .img-des .des {
  margin: 0px;
  font-size: 14px;
  font-weight: normal;
}
.main-body .kitchen-product .body3-top3 .img-des .price {
  position: absolute;
  top: 48px;
}
.main-body .kitchen-product .body3-top3 .img-des .price .discount {
  margin: 0px;
  margin-bottom: 4px;
  font-size: 14px;
  font-weight: normal;
  color: #E52330;
}
.main-body .kitchen-product .body3-top3 .img-des .price .pr {
  margin: 0px;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
}
.main-body .kitchen-product .body3-top3 .img-des .price .pr2 {
  margin: 0px;
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
}
.main-body .kitchen-product .body3-top3:after {
  position: inherit;
  content: "";
  top: 307.53px;
  left: -365px;
  width: 528px;
  height: 0.5px;
  background-color: #AAA9A9;
  z-index: 33;
}
.main-body .kitchen-product .body3-bottom1 {
  position: absolute;
  top: 320px;
  left: 13px;
  width: 160px;
  height: 300px;
}
.main-body .kitchen-product .body3-bottom1 .img-div {
  width: 160px;
  height: 160px;
}
.main-body .kitchen-product .body3-bottom1 .img-des {
  position: inherit;
  left: 4px;
  top: 172px;
  width: 152px;
  height: 73px;
}
.main-body .kitchen-product .body3-bottom1 .img-des .des {
  margin: 0px;
  font-size: 14px;
  font-weight: normal;
}
.main-body .kitchen-product .body3-bottom1 .img-des .price {
  position: absolute;
  top: 48px;
}
.main-body .kitchen-product .body3-bottom1 .img-des .price .discount {
  margin: 0px;
  margin-bottom: 4px;
  font-size: 14px;
  font-weight: normal;
  color: #E52330;
}
.main-body .kitchen-product .body3-bottom1 .img-des .price .pr {
  margin: 0px;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
}
.main-body .kitchen-product .body3-bottom1 .img-des .price .pr2 {
  margin: 0px;
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
}
.main-body .kitchen-product .body3-bottom2 {
  position: absolute;
  top: 320px;
  left: 189px;
  width: 160px;
  height: 300px;
}
.main-body .kitchen-product .body3-bottom2 .img-div {
  width: 160px;
  height: 160px;
}
.main-body .kitchen-product .body3-bottom2 .img-des {
  position: inherit;
  left: 4px;
  top: 172px;
  width: 152px;
  height: 73px;
}
.main-body .kitchen-product .body3-bottom2 .img-des .des {
  margin: 0px;
  font-size: 14px;
  font-weight: normal;
}
.main-body .kitchen-product .body3-bottom2 .img-des .price {
  position: absolute;
  top: 46px;
}
.main-body .kitchen-product .body3-bottom2 .img-des .price .pr {
  margin: 0px;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
}
.main-body .kitchen-product .body3-bottom2 .img-des .price .pr2 {
  margin: 0px;
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
}
.main-body .kitchen-product .body3-bottom3 {
  position: absolute;
  top: 320px;
  left: 365px;
  width: 160px;
  height: 300px;
}
.main-body .kitchen-product .body3-bottom3 .img-div {
  width: 160px;
  height: 160px;
}
.main-body .kitchen-product .body3-bottom3 .img-des {
  position: inherit;
  left: 4px;
  top: 172px;
  width: 152px;
  height: 73px;
}
.main-body .kitchen-product .body3-bottom3 .img-des .des {
  margin: 0px;
  font-size: 14px;
  font-weight: normal;
}
.main-body .kitchen-product .body3-bottom3 .img-des .price {
  position: absolute;
  top: 63px;
}
.main-body .kitchen-product .body3-bottom3 .img-des .price .discount {
  margin: 0px;
  margin-bottom: 4px;
  font-size: 14px;
  font-weight: normal;
  color: #E52330;
}
.main-body .kitchen-product .body3-bottom3 .img-des .price .pr {
  margin: 0px;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
}
.main-body .kitchen-product .body3-bottom3 .img-des .price .pr2 {
  margin: 0px;
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
}